// Mixin sin parámetros

@mixin parrafos {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    text-align: center;
}

.parrafosConEstilo {
    @include parrafos;
    color: bisque;
}